{% extends 'base.html' %}

{% block content %}
    <h1>Shopping Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>{{ item.book.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.book.price }}</td>
                    <td>{{ item.subtotal }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total:</td>
                <td>{{ cart_total }}</td>
            </tr>
        </tfoot>
    </table>
    <a href="{% url 'checkout' %}">Checkout</a>
{% endblock %}
