{% extends 'base.html' %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p>Author: {{ book.author }}</p>
    <p>Price: {{ book.price }}</p>
    <p>Stock Quantity: {{ book.stock_quantity }}</p>
    <p>Description: {{ book.description }}</p>
    <form action="{% url 'add_to_cart' book.id %}" method="POST">
        {% csrf_token %}
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ book.stock_quantity }}">
        <button type="submit">Add to Cart</button>
    </form>
{% endblock %}